TODO
*.pyc
.idea/**
ipynb/.ipynb_checkpoints/**
docs/source/monomulti/.ipynb_checkpoints/**
results/*
data/*
Data/*
multiview_platform/MonoMultiviewClassifiers/Results/*
multiview_platform/tests/temp_tests/**
multiview-machine-learning-omis.iml
multiview_platform.egg-inf*
build*
dist*
multiview_platform/.idea/*
.gitignore
multiview_platform/examples/results/example_1/*
multiview_platform/examples/results/example_2_1_1/*
multiview_platform/examples/results/example_2_1_2/*
multiview_platform/examples/results/example_2_2_1/*
multiview_platform/examples/results/example_2_3/*
multiview_platform/examples/results/example_3/*
multiview_platform/examples/results/example_4/*
multiview_platform/examples/results/example_5/*
