TODO
*.pyc
.idea/**
ipynb/.ipynb_checkpoints/**
docs/source/monomulti/.ipynb_checkpoints/**
results/**
data/**
Data/**
multiview_platform/MonoMultiviewClassifiers/Results/*
multiview_platform/tests/temp_tests/**
multiview-machine-learning-omis.iml
multiview_platform.egg-inf*
build*
dist*
multiview_platform/.idea/*
.gitignore
multiview_platform/examples/results*
